<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.steelcolossus.mobiledev.mobileapplicationdevelopmentcoursework">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_descriptor"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <provider
            android:name=".provider.ShoppingListProvider"
            android:authorities="com.steelcolossus.mobiledev.mobileapplicationdevelopmentcoursework.provider"
            android:exported="false"
            android:grantUriPermissions="true"
            android:label="ShoppingListProvider"
            android:readPermission="com.steelcolossus.mobiledev.mobileapplicationdevelopmentcoursework.provider.READ"
            android:writePermission="com.steelcolossus.mobiledev.mobileapplicationdevelopmentcoursework.provider.WRITE" />

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ShoppingListActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar"
            tools:ignore="UnusedAttribute">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".SearchProductsActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:parentActivityName=".ShoppingListActivity"
            tools:ignore="UnusedAttribute">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ShoppingListActivity" />
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity
            android:name=".UserGuideActivity"
            android:label="@string/user_guide"
            android:launchMode="singleTop"
            android:parentActivityName=".MainActivity"
            tools:ignore="UnusedAttribute">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
    </application>

</manifest>